@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "assets/css/sb-admin.css";
@import "assets/css/morris.css";

body {
    background-color: white;
}

#header.navbar {
    background-color: Silver;
}

.side-nav {
      background-color: Gainsboro;
}

.side-nav li a:hover, .side-nav li a:focus {
    background-color: white !important;
}
